{
	"extends": ["nzap", "nzap/tsx"],
	"rules": {
		"no-console": "off",
		"sort-imports": "off",
		"no-restricted-globals": "off",
		"react-hooks/exhaustive-deps": "off",
		"@typescript-eslint/explicit-function-return-type": "off",
		"react/react-in-jsx-scope": "off"
	}
}
