rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    match /song/{eventId} {
      allow read;
      allow update: if (request.resource.data.diff(resource.data).affectedKeys().hasOnly(['imageLinks']));
    }
    match /hist/{eventId} {
      allow read;
      match /songs/{songId} {
        allow read;
        allow update: if (request.resource.data.diff(resource.data).affectedKeys().hasOnly(['b']));
      }
      match /counts/{songId=**} {
        allow read;
      }
    }


    match /feedback/{feedbackId=**} {
      allow write;
    }
    match /vote/{voteId=**} {
      allow read, write;
    }
    match /yo/{yoId=**} {
      allow read, write;
    }
    match /cvote/{animeId=**} {
      allow read, write;
    }
    // スケジュール欄
    match /table/{eventId=**} {
      allow read, write;
    }
  }
}